body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    padding: 20px;
    margin: 0;
    background-color: rgb(245, 245, 248);
    width:100%;
    max-width: 1215px;
}

.nav-links{
    word-spacing: 20px;
    font-weight: bold;
    font-size: large;
   
}
a{
     text-decoration: none;
     color: rgb(40, 118, 235)
}
img {
    margin-top: 0px;
}
h1 {
    text-align: center;
}
p {
    font-size: 19px;
}
.fixed-border {
 padding: 30px;
 }
#service {
    display: flex;
    gap: 20px;
    padding: 30px;
}
.product-ju {
  display: flex;
  justify-content: center;
  gap: 80px;
  text-align: center;
  align-items: center;   
}
#product h1 {
    color: rgb(40, 118, 235);
    font-weight: bolder;
    font-size: 30px;
}
#product {
    padding: 20px;
}
#product h2 {
    font-size: 15px;
}
.footer-doms {
    display: flex;
    gap: 200px;

}
html {
    position: sticky;
}
footer {
    background-color: rgb(40, 118, 235);
    color: aliceblue;
    padding: 20px 0 0 20px;
}

.doms-01 img {
    width: 100px;
    height: 100px;
    border: solid 2px  rgb(40, 118, 235);
    border-radius: 100px;
}
.p {
    font-size: 15px;  
    max-width: 300px;   
}
.links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    
}
.links a {
    font-size: 15px;
    margin: 10px;
    color: aliceblue;
}
.contact p {
    font-size: 15px;
}
.contact {
    margin: 5px;
}
.doms-01 {
    text-align: center;
}